$back:#9ad1bf;
$text:#f3f5ef;
$boxes:#393e46;
$nav:#214151;
$textnav:#a2d0c1;

@keyframes mad{
    0%{
        content:"Hello!";
    }
    50%{
        content:"Hola!";
    }
    75%{
        content:"Konnichiwa!";
    }
    100%{
        content:"Namaste!";
    }
}

html{
    background:$back;
    scroll-behavior: smooth;
}
body{
    margin:0;
}
header{
    overflow:hidden;
    justify-content: space-around;
    background-color: $nav;
    position:fixed;
    width:100%;
    top:0;
    z-index: 9999;
    height:50px;
}
.intro{
    float: left;
    color:$text;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0;
    text-shadow:2.5px 2.5px #e84a7a;
    }

a{
    display:block;
    padding:10px;
    font-family: cursive;
    text-decoration: none;
    color:$text;
    transition-duration: 0.2s;
    &:hover{
        text-shadow: 2px 2px #e84a7a;
    }
    }    

li{
    float:right;  
}


.home{
    text-align: center;
    
    
    font-size: 75px;
    font-weight:lighter;
    color:$text;
    padding-top:250px;
    padding-bottom:250px;
    margin:0;
    background-image:url("assets/m1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:auto;
    background-position: center;
    min-height: 50vh;
    border-bottom: 5.5px;
    border-bottom-style:solid;

}
#hello::before{
    content:"Hello!";
    color: #e84a7a;
    animation-duration: 4s;
    animation-delay:0.2s;
    animation-name: mad;
    animation-iteration-count: infinite;
}
p{
    margin:0;
}
.contain{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*border-bottom:5.5px;
    border-bottom-style: solid;
    border-bottom-color: $nav;*/
}
h2{
    margin:0;
    color:$nav;
}

.about{
    padding-top:50px;
    text-align: center;
    color:$text;
    font-size:35px;
    min-height: 100vh;
    padding-bottom: 30px;
}
.about h2{
    padding-bottom:30px;
    border:0;
    border-bottom: 2px;
    border-style: solid;
    border-color: #e84a7a;
    margin-left:130px;
    margin-right:130px;
}
.about-content{
    display:flex;
    flex-direction: row-reverse;
}
.about span{
    color:#e84a7a;
}
.my-image{
    margin-top:30px;
    padding-top:100px;
    padding-right:40px;
}
.my-image img{
    max-width:75%;
    max-height:100%;
    border:#e84a7a;
    border-width: 4px;
    border-style: solid;
    border-radius: 300px;
    filter: opacity(86%);
}
.text{
    margin-top:30px;
    padding-top:50px;
    margin-left:130px;
    padding-bottom: 20px;
}
#ab2{
    margin-top:20px;
}
#ab3{
    margin-top:70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
.skills{
    text-align:center;
    margin:0;
    justify-content: center;
    color:#e84a7a;
    min-height: 95vh;
    font-size:35px;
    padding-top: 50px;
    border-top:5.5px;
    border-top-style:solid;
    border-top-color:$text;
    background-image:url("assets/m3.png");
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:auto;
    background-position:cover;
  }
.skills h2{
    border-bottom:solid 2px #e84a7a;
    margin-left:130px;
    margin-right:130px;
    padding-bottom:30px;
}

#level{
    margin-top:100px;
    text-align:right;
    font-size:36px;
    font-stretch:ultra-expanded;
    margin-left: auto;
    margin-right: auto;
}
.skills span{
    color:#e84a7a;
    padding-right: 30px;
}
.skills img{
    height:45px;
    width:45px;
}
.skills div{
    border:solid 1px $nav;
    background-color:$nav;
    overflow: visible;
}
#py {
    width:0%;
    transition-duration: 2s;
    border-radius: 4px;
    &:hover{
        width:70%;
    }
}
#html5{
    width:0%;
    width:0%;
    transition-duration: 2s;
    border-radius: 4px;
    &:hover{
        width:60%;
    }
}
#css3{
    width:0%;
    width:0%;
    transition-duration: 2s;
    border-radius: 4px;
    &:hover{
        width:70%;
    }
}
#pr{
    width:0%;
    width:0%;
    transition-duration: 2s;
    border-radius: 4px;
    &:hover{
        width:30%;
    }
}
#ps{
    width:0%;
    width:0%;
    transition-duration: 2s;
    border-radius: 4px;
    &:hover{
        width:30%;
    }
}
.contact{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top:5.5px;
    font-size: 18px;
    justify-content: center;
    color:#383838;
    
}
/*.contact h1{
    border-bottom:solid 2px #383838;
    padding-bottom:30px;
    margin-left:auto;
    margin-right:auto;
}*/
#submit{
    background-color: #383838;
    width:120px;
    height:40px;
    color:$text;
    border-radius: 4px;
    padding:0;
    font-size: 15px;
    transition-duration: 0.25s;
    &:hover{
        background-color: #e84a7a;
        color: #383838;
    }
}

.social{
    margin-top:40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom:0;

}
.social img{
    height:40px;
    width:40px;
    filter:contrast(40%);
    &:hover{
        filter:contrast(150%);
    }
}
#linked img{
    filter:contrast(25%);
    &:hover{
        filter:contrast(180%);
    }
}
#git img{
    height:33px;
    width:33px;
}
footer{ 
    padding-top:20px;
    overflow:hidden;
    text-align: center;
    background: $text;
}